

<%- include('seller_header',{logout : true})%>
<h2>Delivered orders</h2>
<%for (let product of deliveredProducts) {%>
        <div style=" margin: 20px 20px 20px 20px;display: inline-block;">
            <a href=<%= '/product/' + product.product_id %> >
                <img src=<%=product.image_url%> 
                    width: 200px;
                    height: 200px;
                />
                <h3>Product Name - <%=product.product_name%></h3>
                <h3>Price - <%=product.price%></h3>
                <h3>Quantity - <%=product.quantity%></h3>
                <h3>Delivery Adress - <%=product.address%></h3>
                <h3>Delivery date - <%=product.delivered_date%></h3>
            </a>
        </div>
<%}%>
<h3>Total Sales - <%=total%></h3>
<h2>Canceled Orders</h2>
<%for (let product of canceledProducts) {%>
        <div style=" margin: 20px 20px 20px 20px;display: inline-block;">
            <a href=<%= '/product/' + product.product_id %> >
                <img src=<%=product.image_url%> 
                    width: 200px;
                    height: 200px;
                />
                <h3>Product Name - <%=product.product_name%></h3>
                <h3>Price - <%=product.price%></h3>
                <h3>Quantity - <%=product.quantity%></h3>
                <h3>Delivery Adress - <%=product.address%></h3>
                <h3>Canceled date - <%=product.delivered_date%></h3>
            </a>
        </div>
<%}%>

<%- include('footer')%>