<%- include('buyer_header', {logout : true})%>
    <div class="ext-box for-register">
        <form action=<%= '/sell/updateproduct/' + product_data[0].product_id %> method="POST">

            <table style="width: 100%;">
                <tr>
                    <td>Image URL</td>
                    <td><input type="text" name="image_url" required="required" value=<%=product_data[0].image_url%>></td>
                </tr>
                <tr>
                    <td>Product Name</td>
                    <td><input type="text" name="product_name" required="required" value=<%=product_data[0].product_name%>></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type="text" name="description" required="required" value=<%=product_data[0].description%>></td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td><input type="text" name="price" required="required" value=<%=product_data[0].price%>></td>
                </tr>
                <tr>
                    <td>Quantity</td>
                    <td><input type="text" name="quantity" required="required" value=<%=product_data[0].quantity%>></td>
                </tr>
                <tr>
                    <td>
                        <label >Enter Status</label>
                    </td>
                    <td>
                        <select name="status" size="1">
                            <option value="available">available</option>
                            <option value="unavailable">unavailable</option>
                        </select>
                    </td>
                    <tr>
                        <td>
                            <label >Enter Category</label>
                        </td>
                        <td>
                            <select name="catogory_id" size="1">
                                <option value="1">Electronics</option>
                                <option value="2">Fashion</option>
                                <option value="3">Books</option>
                                <option value="4">others</option>
                            </select>
                        </td>
                        <br><br>
                    </tr>
                    <br><br>
                </tr>
            </table> 
            <button class="cmn-btn">UPDATE PRODUCT</button>   
        </form>
    </div>
<%- include('footer')%>